@model VideoShop.Models.RentStats

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental Statistics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentId)
        </dd>
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
           Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            End Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
