
@model PagedList.IPagedList<VideoShop.Models.RentStats>
@using PagedList.Mvc;
<style>
    .highlighted {
        background-color: rgba(255, 0,0,0.6);
    }
</style>
<style>
    .highlighted2 {
        background-color: rgba(0, 255,0,0.3);
    }
</style>
@{
    ViewBag.Title = "Index";
}

<h2>Rented Movies</h2>
<div class="alert-danger fade in">
    <a href="https://localhost:44381/RentStats" class="close" data-dismiss="alert">&times;</a>
    <strong>@TempData["message"]</strong>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.PagedListPager(Model,
  page => Url.Action("Index", new { page }))
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
 of @Model.PageCount
<table class="table">

    <tr>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Return Time
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (DateTime.Now.Date > item.EndDate)
        {
            <tr class="highlighted">
                <td>
                    @Html.DisplayFor(modelItem => item.StartDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentId })

                </td>
            </tr>
        }
        else
        {
            <tr class="highlighted2">
                <td>
                    @Html.DisplayFor(modelItem => item.StartDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RentId })

                </td>
            </tr>
        }
    }

</table>
